.App {
  text-align: center;
}



.App-header {
  
  font-family: 'Roboto', sans-serif;
  /* "Segoe UI","Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  font-weight: lighter;
}

.App-link {
  color: #61dafb;
}


