.App {
  text-align: center;
}



.App-header {
  
  font-family: 'Roboto', sans-serif;
  /* "Segoe UI","Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  font-weight: lighter;
}

.App-link {
  color: #61dafb;
}


body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}