
.skill-font {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
  }

.skill-background {
   background-color: rgba(255, 255, 255, 0.1);
  }

.plus-button {
    background: #87e285;
    color: white;
    
}

.minus-button {
     background: #f96a4a;
     color: white;
}